.timer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#datetime-picker {
  padding: 10px;
  height: 40px;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.value {
  font-size: 4em;
}

.label {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}
